My_workflow_copy.json
{
  "name": "My workflow copy",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "d6826f32-d4f1-4c97-bd3f-04088166a7f1",
      "name": "Telegram Trigger",
      "webhookId": "19e9fc87-d242-483d-8905-6ed84d80e304",
      "credentials": {
        "telegramApi": {
          "id": "nzPngQUIilyZtryv",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const message = $json.message || $json.body?.message || {};\nconst text = message.text || \"\";\n\nlet subjectMatch = text.match(/Subject:\\s*(.+)/i);\nlet linkMatch = text.match(/Link:\\s*(https?:\\/\\/\\S+)/i);\n\nreturn [{\n  json: {\n    subject: subjectMatch ? subjectMatch[1].trim() : null,\n    link: linkMatch ? linkMatch[1].trim() : null,\n    fullText: text,\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        0
      ],
      "id": "acf3a2f3-2199-4f5f-af22-aa436d00b8ef",
      "name": "Code"
    },
    {
      "parameters": {
        "url": "={{ $json[\"link\"] }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        0
      ],
      "id": "25f79173-6da3-4ac2-b5d1-a8be751bbca6",
      "name": "Get Blog HTML"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "blogText",
              "cssSelector": "div.content"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        660,
        0
      ],
      "id": "e59d8185-f13f-46be-b81e-820a250c774f",
      "name": "HTML"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=\n\nYou are a tech blogger summarizing industry articles for YouTube. Write a engaging summary with clean format with minimum 200 words. Remove or avoid the word \"title\" at beginning of output.\nBlog Content:\n{{$json[\"blogText\"]}}\nremove \"\\n\" from blog content before summarizing\n\nDont include any other suggestions, headers like here is summary such things.\n",
        "messages": {
          "messageValues": [
            {
              "type": "HumanMessagePromptTemplate",
              "message": "i want clean output without any \"\\n\" . i dont want to see it in output .GIVE FINAL OUTPUT AFTER REMOVING \"\\n\""
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        1080,
        0
      ],
      "id": "78284328-fa2d-4b88-ace7-45e3040a650e",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": "mistralai/mistral-7b-instruct",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1100,
        160
      ],
      "id": "ae6eedcb-419f-45e0-89ff-721e11750660",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "IV74TkncK5sm6jN4",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0556b86e-e0b7-4a77-b28c-5e6e47491a2a",
              "name": "text",
              "value": "={{$json[\"text\"]}}",
              "type": "string"
            },
            {
              "id": "2927f94e-8449-4bee-8543-3f684d2ca88b",
              "name": "heygen_api_key",
              "value": "",
              "type": "string"
            },
            {
              "id": "3ffbae24-b39c-4b3b-85fc-04f5d504b79e",
              "name": "avatar_id",
              "value": "",
              "type": "string"
            },
            {
              "id": "213bd380-50c0-440a-a737-2ae5aa9aa15e",
              "name": "voice_id",
              "value": "",
              "type": "string"
            },
            {
              "id": "82a1165c-2ada-41c1-b92d-7eba1e6a14e5",
              "name": "background_video_url",
              "value": "https://database.blotato.io/storage/v1/object/public/public_media/4ddd33eb-e811-4ab5-93e1-2cd0b7e8fb3f/videogen2-render-e6b398a2-5859-4a77-88ef-2345bcefdc98.mp4",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        260,
        300
      ],
      "id": "43d3246b-cfdf-4ef8-8fd3-b03086c59dcc",
      "name": "Setup Heygen"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.heygen.com/v2/video/generate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Api-Key",
              "value": "={{ $json.heygen_api_key }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"video_inputs\": [\n    {\n      \"character\": {\n        \"type\": \"avatar\",\n        \"avatar_id\": \"{{ $json.avatar_id }}\",\n        \"avatar_style\": \"normal\",\n        \"scale\": 1.0,\n        \"offset\": {\n          \"x\": 0.0,\n          \"y\": 0.0\n        },\n        \"matting\": true\n      },\n      \"voice\": {\n        \"type\": \"text\",\n        \"input_text\": \"{{ $json.text }}\",\n        \"voice_id\": \"{{ $json.voice_id }}\",\n        \"speed\": 1.1,\n        \"pitch\": 50,\n        \"emotion\": \"Excited\"\n      },\n      \"background\": {\n        \"type\": \"video\",\n        \"url\": \"{{ $json.background_video_url }}\",\n        \"play_style\": \"loop\",\n        \"fit\": \"cover\"\n      }\n    }\n  ],\n  \"dimension\": {\n    \"width\": 1280,\n    \"height\": 720\n  },\n  \"aspect_ratio\": \"9:16\",\n  \"caption\": false,\n  \"title\": \"n8n TEST AVATAR\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        420,
        300
      ],
      "id": "14c7a485-d3c4-433d-8160-5bccff134359",
      "name": "Create Avatar Video"
    },
    {
      "parameters": {
        "url": "https://api.heygen.com/v1/video_status.get",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "video_id",
              "value": "={{ $('Create Avatar Video').item.json.data.video_id }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Api-Key",
              "value": "={{ $('Setup Heygen').item.json.heygen_api_key }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        800,
        320
      ],
      "id": "a0c9394f-74bf-46d2-aec0-35bad0f04cd5",
      "name": "Get Avatar Video"
    },
    {
      "parameters": {
        "url": "={{ $json.data.video_url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1000,
        300
      ],
      "id": "0f2e897c-9deb-405f-97b2-3074a2353a01",
      "name": "HTTP download"
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "upload",
        "title": "n8n AVATAR VIDEO TEST",
        "regionCode": "IN",
        "categoryId": "27",
        "options": {}
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        1140,
        300
      ],
      "id": "19a49e7a-8668-4f98-8cfa-2b554ab2e438",
      "name": "YouTube"
    },
    {
      "parameters": {
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        620,
        320
      ],
      "id": "434acbb1-0f9f-4ad7-a590-bc42e2786429",
      "name": "Wait",
      "webhookId": "67601a6d-a2e9-4062-a7cc-dcdbe5a56c37",
      "alwaysOutputData": false
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Get Blog HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Blog HTML": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Setup Heygen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Setup Heygen": {
      "main": [
        [
          {
            "node": "Create Avatar Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Avatar Video": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Avatar Video": {
      "main": [
        [
          {
            "node": "HTTP download",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP download": {
      "main": [
        [
          {
            "node": "YouTube",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Get Avatar Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1a109300-1040-4d54-b4eb-deb367c5386d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9b2e8b1c73d99e3b30da7ea799ba0dd9c4fb06477084341cc2ef241506ba3b50"
  },
  "id": "4x1JBhv9O5Y7t6Rk",
  "tags": []
}